$primary: #1c8364;
$secondary: #3bc47f;
$accent: #24645b;

$dark: #252525;

$positive: #53645c;
$negative: #ed0000;
$info: #dfd9cc;
$warning: #ebbd57;
$exportReport: #F5D48D;

$foundedItem: rgba(28, 131, 100, 0.3);
$notFoundedItem: rgba(235, 189, 87, 0.3);